<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/5128f6ea7d.js" crossorigin="anonymous"></script>
    <title>Panel de control</title>
</head>
<body>
    <!-- <main class = "d-flex justify-content-center align-items-center flex-direction-column">
        <h1>Panel de control</h1>
        <div class="controlPanel p-3">
            <a href="#" class="btn btn-success text-center">Productos</a>
            <a href="#" class="btn btn-success text-center">Empleados</a>
            <a href="#" class="btn btn-success text-center">Estadisticas</a>
            <button class = "btn btn-success">Notificaciones</button>
            <a href="#" class="btn btn-success text-center">Cuenta</a>
        </div>
    </main> -->

    <main>
        <div class = "titleBar">
            <h2 id = "titleId">Productos</h2>
        </div>
        <nav class="sideBar">
            <div class="controls">
                <button id="btnProducts" class="controlButton controlButton-active">
                    <i class="fa-solid fa-prescription-bottle-medical fa-2xl"></i>
                    <span>Productos</span>
                </button>
                <button id="btnEmployees" class="controlButton">
                    <i class="fa-solid fa-users fa-2xl"></i>
                    <span>Empleados</span>
                </button>
            </div>
            <div class="account">
                <button id="btnAccount" class = "controlButton">
                    <i class="fa-solid fa-user fa-xl"></i>
                    <span>Cuenta</span>
                </button>
            </div>
        </nav>
        <div class="content">
            <div class="main">
                
                <div id="products"><h1>Seccion de productos</h1></div>
                <div id="employees"><h1>Seccion de empleados</h1></div>
            </div>
        </div>
    </main>
</body>
</html>