<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/overlay.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <script src="https://kit.fontawesome.com/5128f6ea7d.js" crossorigin="anonymous"></script>
    <script src="./js/dashboard/dashboard.js" type = "module"></script>
    <title>Panel de control</title>
</head>
<body>
    <main>
        <div class = "titleBar">
            <button class = "btn" id = "hamburgerMenu" type = "button"> 
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
            <h2 id = "title">Productos</h2>
        </div>
        <nav class="sideBar" id = "sideBar">
            <div>
                <button id="btnProducts" class="controlButton controlButton-active">
                    <i class="fa-solid fa-prescription-bottle-medical fa-2xl"></i>
                    <span>Productos</span>
                </button>
                <button id="btnEmployees" class="controlButton">
                    <i class="fa-solid fa-users fa-2xl"></i>
                    <span>Empleados</span>
                </button>
            </div>
            <div>
                <button id="btnAccount" class = "controlButton">
                    <i class="fa-solid fa-user fa-xl"></i>
                    <span>Cuenta</span>
                </button>
            </div>
        </nav>
        <div class="content">
            <div class="main">
                <div id="products" class = "section">

                    <div class="productCard">
                        <div class = "topRow">
                            <h3>Nombre producto</h3>
                            <span>10</span>
                        </div>
                        <div class = "bottomRow">
                            <p>Descripcion Producto. Aqui va la descripcion del producto, este es un test</p>
                            <div>
                                <button class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>

                    <div class="productCard">
                        <div class = "topRow">
                            <h3>Nombre producto</h3>
                            <span>10</span>
                        </div>
                        <div class = "bottomRow">
                            <p>Descripcion Producto. Aqui va la descripcion del producto, este es un test</p>
                            <div>
                                <button class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="productCard">
                        <div class = "topRow">
                            <h3>Nombre producto</h3>
                            <span>10</span>
                        </div>
                        <div class = "bottomRow">
                            <p>Descripcion Producto. Aqui va la descripcion del producto, este es un test</p>
                            <div>
                                <button class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="employees" class = "section" style = "display: none;"><h1>Seccion de empleados</h1></div>
            </div>
        </div>
    </main>
    <div class="overlay" style="display: none;" id = "overlay">
        <div class="account" id = "windowAccount" style = "display: none;">
            <div class="header mb-3"><h3><%= userName %></h3><input type="button" id="closeWindow" class="btn-close"></div>
            <div class = "controls">
                <a href="/settings" target="_blank" class = "btn btn-primary">Ajustes de cuenta</a>
                <a href="/logout" class="btn btn-danger">Cerrar sesion</a>
                <!-- <button id="logout" class="btn btn-danger">Cerrar sesion</button> -->
            </div>
        </div>
    </div>
</body>
</html>