<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/controlPanel.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Panel de control</title>
</head>
<body>
    <main class = "d-flex justify-content-center align-items-center flex-direction-column">
        <h1>Panel de control</h1>
        <div class="controlPanel p-3">
            <a href="#" class="btn btn-success text-center">Productos</a>
            <a href="#" class="btn btn-success text-center">Empleados</a>
            <a href="#" class="btn btn-success text-center">Estadisticas</a>
            <button class = "btn btn-success">Notificaciones</button>
            <a href="#" class="btn btn-success text-center">Cuenta</a>
        </div>
    </main>
</body>
</html>