<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type = "module" src = "./js/index.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/overlay.css">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <title>FWS</title>
</head>
<body>
    <main class = "d-flex justify-content-center align-items-center">
        <form id = "loginForm" class = "login p-4 d-flex justify-content-center flex-column">
            <center><h1>Inicio de sesión</h1></center>
            <label for="userName">Usuario:</label>
            <input type="text" name="userName" id = "userName" placeholder="Usuario" class = "form-control" />
            <label for="password">Contrase&ntilde;a</label>
            <input type="password" name="password" id = "password" placeholder="Contraseña" class = "form-control" />
            <label for="userType">Tipo de usuario:</label>
            <select name="userType" id = "userType" class = "form-select">
                <option value="boss">Jefe</option>
                <option value="employee">Empleado</option>
            </select>
            <button class = "btn btn-success" id = "btnLogin" type = "button">Iniciar sesion</button>
            <p><center>¿No tienes una cuenta? <a href="/signup">Crea una ahora</a></center></p>
        </form>
    </main>
    <div class="overlay" style = "display: none;">
        <div id = "message" class="msg" style = "display: none;"> 
            <div class="header mb-3"><span>Alerta </span><input type="button" id="closeMsg" class="btn-close"></div>
            <p></p>
        </div>
    </div>
</body>
</html>