body {
    background-color: var(--backgroundColor); 
}

main {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    gap: 50px;
}

.controlPanel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: var(--dark);
    border-radius: 10px;
    
}

@media (max-width: 620px) {
    .controlPanel {
        grid-template-columns: repeat(2, 1fr);
        
    }
}