main {
    display: grid;
    height: 100vh;
    width: 100%;
    /* background-color: #2f2f2f; */
    grid-template-rows: 50px auto;
    grid-template-columns: 70px auto;
    /* grid-gap: 10px; */
}

/* -------------------------Sidebar Controls---------------------------- */
.controlButton {
    color: white;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 50px;
    padding: 10px 0;
    box-sizing: content-box;
    /* background-color: red; */
    /* margin-top: 10px; */
}

.controlButton > .fa-solid {
    margin: 15px 15px;
}

.controlButton > span {
    font-size: 12px;
}

.controlButton:hover {
    background-color: #2f2f2f;
    transition: .5s;
}

.controlButton-active {
    color: #01BAEF;
    font-weight: bold;
    background-color: #2f2f2f;
}

/* ---------------------------------------------------------------------- */

.sideBar {
    background-color: #0f0f0f;
    color: white;
    width: 70px;
    padding: 25px 0;
    box-sizing: border-box;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------Title bar---------------------------- */

.titleBar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #0B4F7C;
    grid-column: 2 / 3;
}

.titleBar > button {
    display: none;
}

/* ---------------------------------------------------------------------- */

.content {
    width: 100%;
    /* background-color: #D6D6FF; */
    overflow-y: scroll;
    grid-column: 2 / 3;
}

.content::-webkit-scrollbar {
    appearance: none;
    width: 7px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
}

.box {
    width: 50px;
    height: 50px;
    background-color: #00ffaa;
}

/* -------------------------Main content---------------------------- */
.main {
    margin: 0 auto;
    width: 98%;
    margin-top: 20px;
}

.account {
    padding: 10px;
    width: 350px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    animation: showMsg .5s;
}

.header > h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    text-align: left;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartList {
    width: 80%;
}

.cartCard {
    /* display: grid; */
    width: min-content;
    gap: 30px;
    /* grid-template-columns: repeat(2, 1fr); */
    /* place-items: center; */
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.dataCard {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    place-items: end;
    gap: 20px;
}

.cardControls {
    display: flex;
    gap: 10px;
}

/* ---------------------------------------------------------------------- */

.listProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    grid-gap: 20px;
    padding: 0 20px 20px 20px;
    place-items: center;
    margin-bottom: 20px;
}

.listProducts .spinner-border {
    grid-column: 1 / -1;
}

.productCard {
    background-color: #D6D6FF;
    padding: 10px;
    height: inherit;
    width: inherit;
    /* min-width: max-content; */
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    animation: fadeIn .5s;
}

.productLink {
    color: #000;
    text-decoration: none;
    transition: .4s;
}

.productLink:hover {
    color: #01BAEF;
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.productCard div p {
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.productCard div div {
    width: 50%;
}

.productCard-disable {
    display: none;
}

.productCard-enable {
    display: block;
}

.finder {
    width: 80%;
    background-color: white;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-bottom: 10px;
}

.data-employee {
    line-height: 35px;
}

.cart {
    width: fit-content;
    margin: 0 auto;
}

#cartList {
    width: max-content;
}

@keyframes sideBar {
    0% {
        transform: translateX(-70px);
    }

    100% {
        transform: translateX(0px);
    }
}

@media (max-width: 1186px) {
    .listProducts {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }

    .finder {
        width: 85%;
    }
}

@media (max-width: 810px) {
    
    .finder {
        width: 90%;
    }
    
    .listProducts {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .productCard {
        width: 90%;
    }

    .titleBar {
        justify-content: space-between;
        padding: 0 10px;
        grid-column: 1 / 3;
    }

    .titleBar > button {
        display: block;
    }

    .content {
        grid-column: 1 / 3;
    }

    .sideBar {
        grid-row: auto;
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1022;
        animation: sideBar .3s;
    }
   
}

@media (max-width: 715px) {

    .dataCard {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .cardControls {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-auto-columns: 1fr; */
        place-items: center;
    }
}

@media (max-width: 400px) {
    
    .cartCard {
        gap: 20px;
    }

    .cardControls {
        display: flex;
    }
    
    .cartCard {
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
}