@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    /* --dark: #212529; */
    --backgroundColor: #171423;
    --textColor: #9BAEC8;
    --accent: #958485CE;
    --accent2: #958586CE;
}

.bg-dark {
    background-color: var(--backgroundColor);
}

.text-white {
    color: #fff;
}

/* Padding class */

.p-1 {
    padding: .5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2rem;
}

.py-1 {
    padding: .5rem 0 .5rem 0;
}

.py-2 {
    padding: 1rem 0 1rem 0;
}

.py-3 {
    padding: 1.5rem 0 1.5rem 0;
}

.py-4 {
    padding: 2rem 0 2rem 0;
}

.px-1 {
    padding: 0 .5rem 0 .5rem; 
}

.px-2 {
    padding: 0 1rem 0 1rem; 
}

.px-3 {
    padding: 0 1.5rem 0 1.5rem; 
}

.px-4 {
    padding: 0 2rem 0 2rem; 
}

/* Margin class */

.m-x-auto {
    margin: 0 auto;
}

.my-1 {
    margin: .5rem 0 .5rem 0;
}

.my-2 {
    margin: 1rem 0 1rem 0;
}

/* Input type text and password class*/


.text-box, .text-box-dark {
    display: block;
    width: 100%;
    border-radius: .2rem;
    font-size: 1.3rem;
    padding: .5rem .5rem;
    border: solid 1px;
    box-sizing: border-box;
    outline: none;
    animation-duration: 10s;
}

.text-box {
    background-color: #fff;
    border-color: #ced4da;
}

.text-box-dark {
    color: white;
    background-color: #131114;
    border-color: #373a42;    
}

.text-box:focus, .text-box-dark:focus {
    box-shadow: 0 0 3px 0.18rem rgba(0, 123, 255, .50);
}

/* class width */

/* .w-1 {
    width: 2em;
}

.w-2 {
    width: 4rem;
}

.w-3 {
    width: 6rem;
} */